body {
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	color: rgb(177, 177, 177);
	background-color: rgb(0, 0, 0);
	text-align: center;
	line-height: 1.4em;
  padding: 20px;
}

.container {
	padding: 0;
	margin-top: 40px;
}

h3 {
  margin-top: 30px;
}

hr {
	margin: 25px;
}

.footer {
	margin-top: 40px;
}

code {
  font-family: monospace;
  padding: 5px;
  color: rgb(224, 224, 224);
  background-color: rgb(53, 53, 53);
}

ul {
  text-align: left;
}

li {
  margin-bottom: 0.5em;
}

a {
	color: rgb(75, 139, 73);
}

#examples {
	list-style-type: none;
  text-align: center;
  padding: 0;
}