* {
  color: rgb(236, 236, 236);
}
body, html {
  background-color: #0f0c14;
  font-size: 16px;
  font-family: Montserrat;
  margin: 15px;
}
h1 {
  font-family: Montserrat;
  margin-bottom: 0px;
  text-shadow: 2px 2px 10px #515d69;
}
code {
  background: #19161d;
  padding: 5px;
}
input {
  background:rgb(21, 22, 27);
  padding: 5px;
  border-radius: 5px;
  font-size: 16px;
}
input[type=button] {
  font-weight: 700;
  color: #c0cbd6;
}
input[type=text] {
  font-weight: 700;
  text-align: center;
  width: 50px;
  color: #ffffff;
}

#hr-head, #hr-foot {
  width: 100%;
  border: 3px dashed #515d69;
  border-bottom: 0px;
  border-left: 0px;
  border-right: 0px;
  margin: 15px;
  margin-bottom: 23px;
}
#hr-foot {
  margin-top: 15px;
  margin-bottom: 10px;
}
#footer {
  font-size: 14px;
}
#footer > a {
  text-decoration: none;
  font-weight: 700;
  color: #7c8894;
}
#checkfields {
  display: flex;
  flex-direction: column;
  padding-top: 15px;
  padding-bottom: 15px;
}
#checkfields > p {
  margin: 5px;
}
#coord, #val {
  margin-left: 7px;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-container {
  max-width: 95%;
}

textarea {
  width: 100%;
  background:rgb(21, 22, 27);
  font-family: monospace;
  font-size: 16px;
  padding: 10px;
}

#user-stories {
  font-size: 1.2em;
}

#error-msg {
  color: red;
  display: inline;
  margin-left: 10px;
}

#sudoku-grid-container {
  display: flex;
  flex-direction: row;
  margin-left: -50px;
}

#sudoku-grid {
  text-align: center;
  display: inline;
}

.grid {
  border: 3px solid;
  border-spacing: 0;
  
}

td {
  border: 1px solid;
  padding: 0.3em;
}
#sudokucells > tbody > tr > td {
  background-color: #8EC5FC;
  background-image: radial-gradient(#222c35 0%, #0f0c14 80%);
}

.yAxisLegend {
  margin-top: 50px;
  text-align: right;
  font-weight: bold;
}

.yAxisLegend tr td {
  border: 1px solid rgba(0, 0, 0, 0);
  width: 2em;
  height: 1.95em;
}

.xAxisLegend {
  border: 3px solid rgba(0,0,0,0);
  border-spacing: 0;
  font-weight: bold;
}

.xAxisLegend tr td {
  border: 1px solid rgba(0,0,0,0);
  width: 2em;
  height: 2em;
  text-align: center;
  vertical-align: bottom;
  padding-bottom: 0;
}

.xAxisLegend tr td:nth-of-type(3n) {
  border-right: 3px solid rgba(0,0,0,0);
}

.sudoku-input {
  border: 1px solid rgb(80, 80, 80);
  width: 2em;
  height: 2em;
  text-align: center;
}

.C1, .C2, .C3, .C4, .C5, .C6, .C7, .C8, .C9, .F1, .F2, .F3, .F4, .F5, .F6, .F7, .F8, .F9 {
  border-bottom: 3px solid;
}

.A3, .B3, .C3, .D3, .E3, .F3, .G3, .H3, .I3, .A6, .B6, .C6, .D6, .E6, .F6, .G6, .H6, .I6 {
  border-right: 3px solid;
}

@media (min-width: 800px) {
  .container {
    flex-direction: row;
    justify-content: center;
  }

  .form-container {
    align-self: center;
  }
  #sudoku-grid-container {
    margin-left: 20px;
  }
  #hr-head {
    margin-bottom: 5px;
  }
  #checkfields {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  #coord, #val {
    margin-right: 30px;
  }
}
